@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");
/* ARTICLE SECTION */

section {
  width: 100%;
  min-height: 90vh;
}

.article-section {
  background: #eeeeee;
}
article {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
article h2 {
  max-width: 669px;
  min-height: 119px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  grid-column: 1/3;
  margin: 0 auto;
}
article h3 {
  max-width: 426px;
  min-height: 57px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin: 20px 0;
  grid-column: 1/3;
  margin: 0 auto;

}
article p {
  max-width: 983px;
  min-height: 100px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0 30px;
}
/* .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
} */

article button {
  width: 115px;
  height: 36px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  background: #55c2d8;
  border-radius: 18px;
  text-transform: uppercase;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  grid-column: 1/3;
  margin: 20px auto;
}

/* LEARN MORE SECTION */

.learn-more-block {
  position: absolute;
  z-index: 20;
  max-width: 480px;
  min-height: 492px;
  flex-direction: column;
  gap: 50px;
}
.learn-more-block h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
.learn-more-block button {
  width: 150px;
  height: 150px;
  background: #39c2d7;
  color: #fff;
  font-size: 64px;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.learn-more-block h3 {
  max-width: 390px;
  min-height: 102px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.learn-more-section {
  width: 100%;
  background-image: url(../assets/img/background-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.bg-image {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 5px;
}
